.header {
	display: flex;
	justify-content: space-between;
}
.menu {
	display: flex;
	flex-basis: 80%;
	align-items: center;
	justify-content: flex-end;
}
.banner {
	display: flex;
	justify-content: space-between;
}
/* .banner__button {
	display: flex;
	justify-content: center;
	align-items: center;
} */
.button {
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.banner__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.featured__slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.services__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.services__card {
	flex-basis: 25%;
}
.button-more {
	display: flex;
	align-items: center;
}
.news__wrapper {
	display: flex;
	justify-content: space-between;
}
.news__card {
	flex-basis: 28%;
}

.event__wrapper {
	display: flex;
	justify-content: space-between;
}
.event__card {
	flex-basis: 40%;
}
.event__info {
	display: flex;
	align-items: center;
}
.countries__wrapper {
	display: flex;
	justify-content: space-between;
}
.testimonial__wrapper {
	display: flex;
	justify-content: space-between;
}
/* .testimonial__card {
	flex-basis: 33%;
} */
.action {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
}
.footer__nav {
	display: flex;
}
.footer__social {
	display: flex;
	align-items: flex-end;
}
.news__button {
	display: flex;
	justify-content: center;
}
.button-more__img {
	margin-left: 37px;
}
.event__date {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(113, 124, 255, 0.14);
	border-radius: 11px;
	width: 76px;
	height: 76px;
	margin-right: 7%;
}
.event__link {
	display: flex;
	justify-content: space-between;
}
.event__time {
	display: flex;
	align-items: center;
}
.people {
	display: flex;
}
.people__card {
	display: flex;
	flex-direction: column;
}
.people__img {
	margin-right: 7%;
}
.address {
	display: flex;
	flex-direction: column;
	font-style: normal;
	margin-top: 15%;
}