body {
	box-sizing: border-box;
	font-family: 'Abel', sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
.main {
	overflow: hidden;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.banner__oval {
	position: absolute;
	display: flex;
	width: 1030px;
	height: 581px;
	left: 62%;
   top: 39%;
	background: linear-gradient(189.79deg, #8471FF 8.03%, #717CFF 53.55%);
	mix-blend-mode: normal;
	opacity: 0.7;
	border-radius: 50%;
	z-index: -1;
}
.background-grey {
	background-color: #FAFAFA;
}
/*  Стили для меню */
.menu__adaptive {
	display: none;
}
.menu__item {
	font-size: 17px;
	color: #373737;
	list-style-type: none;
	text-decoration: none;
}
.menu__item--underline {
	margin-right: 82px;
	position: relative;
}

/* Анимация при наведении на ссылку */
.menu__item--underline::before {
	content: '';
    bottom: -15px;
    left: 10%;
    position: absolute;
    width: 0%;
    height: 3px;
	 background-color: #717CFF;
	 transition: 0.2s;
}
.menu__item--underline:hover::before {
	width: 70%;
}


.header__button {
	border: #717CFF solid 2px;
	border-radius: 11px;
	padding: 9px 38px;
}


/* Анимация при наведении на кнопку */
.header__button:hover {
	background-color: #717CFF;
	color: #fff;
	transition: 0.5s;
}


.menu__list {
	flex-basis: 92%;
	justify-content: space-between;
	padding-bottom: 16px;
}

/* Стили для баннера с картинкой */
.banner__title {
	font-size: 56px;
	font-weight: normal;
	color: #2F2F2F;
	margin-top: 13px;
	margin-bottom: 0px;
}
.banner__title--violet {
	color: #717CFF;
}
.banner__subtitle {
	width: 86%;
}
.subtitle__left {
	text-align: left;
	font-size: 22px;
	color: #7D7D7D;
	line-height: 38px;
	margin: 27px 0px 8px 0px;
}
.button {
	font-family: 'Abel';
	font-size: 22px;
	font-weight: normal;
	background-color: #717CFF;
	border: none;
	border-radius: 11px;
	width: 262px;
	height: 64px;
}
.button__arrow {
	margin-left: 20px;
}
.button:hover {
	cursor: pointer;
	background-color: #fff;
	border: 2px solid #717CFF;
	/* transition: 0.5s; */
}
.button:hover .button__text {
	color: #373737;
}
.banner__button:hover .button__arrow {
	margin-left: 70px;
	transition: 0.8s;
}
.button__small {
	width: 226px;
}
.button__small:hover .button__arrow {
	margin-left: 50px;
	transition: 0.8s;
}
.button__text {
	font-size: 22px;
	color: #FFFFFF;
	margin-left: 30px;
}
.button__action:hover .button__arrow {
	margin-left: 50px;
	transition: 0.8s;
}
.banner__img {
	display: flex;
	justify-content: end;
	align-items: flex-end;
}
.banner__img--girl {
	position: relative;
}
.banner {
	position: relative;
	z-index: 1;
}
.wrapper {
	overflow: hidden;
}
.featured__title {
	font-size: 23px;
	color: #373737;
	text-transform: uppercase;
	text-align: center;
	margin: 0px;
	letter-spacing: 2.1px;
}

.title {
	font-size: 37px;
	color: #373737;
	text-align: center;
	margin: 76px 0 30px 0;
}
.subtitle {
	font-size: 22px;
	color: #7D7D7D;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	line-height: 38px;
}


.card__title {
	font-size: 24px;
	color: #37474F;
}
.card__text {
	font-size: 16px;
	color: #37474F;
	line-height: 28px;
}
.button-more__link {
	font-size: 17px;
	color: #717CFF;
}
.button-more:hover .button__arrow {
	margin-left: 40px;
	transition: 0.8s;
}
.button-more:hover .button-more__link {
	text-shadow: 1px 1px 5px #7D7D7D;
	transition: 0.8s;
}
.date__calendar {
	font-size: 16px;
	color: #565656;
}
.news__title {
	font-size: 22px;
	color: #252525;
}
.news__text {
	font-size: 22px;
	color: #252525;
	line-height: 28px;
}
.news__img {
	margin-bottom: 28px;
	max-width: 100%;
}
.event__big-text {
	font-size: 27px;
	color: #717CFF;
}
.event__mini-text {
	font-size: 18px;
	color: #717CFF;
}
.event__location-text {
	font-size: 24px;
	color: #37474F;
}
.event__description-text {
	font-size: 16px;
	color: #37474F;
}
.event__time-text {
	font-size: 16px;
	color: #373737;
}
.button-more__link {
	text-decoration: none;
}
.people__name {
	font-size: 22px;
	color: #37474F;
}
.testimonial__text {
	font-size: 18px;
	color: #37474F;
	line-height: 31px;
}
.action__title {
	font-size: 37px;
	color: #373737;
}
.footer__wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer {
	background-color: #717CFF;
}
.footer__menu {
	list-style-type: none;
}
.footer__menu-item {
	text-decoration: none;
	line-height: 49px;
}
.footer__text {
	font-size: 18px;
	color: #EEEEEE;
}
.footer__icon {
	margin-right: 28px;
}
.logo__footer-mobile {
	display: none;
}



/* Отступы */
.header {
	padding-top: 40px;
}
.banner {
	padding-top: 125px;
}
.social__icon {
	padding-left: 2%;
}
.social {
	padding-bottom: 10%;
}
.featured {
	padding: 50px 0px 60px 0px;
}

.featured__title {
	margin-bottom: 89px;
}
.services__header {
	padding-top: 120px;
}
.services__wrapper {
	padding-top: 120px;
	padding-bottom: 125px;
}
.services__card {
	box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
	border-radius: 15px;
	padding: 30px;
	margin-bottom: 50px;
}
.news__title {
	padding-top: 100px;
	padding-bottom: 120px;
}
.news__card {
	background-color: #FFFFFF;
	box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
	border-radius: 10px;
}
.date__wrapper {
	padding-left: 25px;
	padding-right: 25px;
}
.news__button {
	padding-top: 145px;
	padding-bottom: 125px;
}
.event__title {
	padding-top: 100px;
	padding-bottom: 100px;
}
.event__card {
	padding: 30px;
	box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
	border-radius: 15px;
}
.event__wrapper {
	padding-bottom: 200px;
}
.countries__title {
	padding-top: 80px;
	padding-bottom: 77px;
}
.countries__text {
	font-size: 25px;
}
.countries__wrapper {
	padding-bottom: 200px;
}
.countries__card {
	max-width: 350px;
}
.testimonial__title {
	padding-top: 115px;
	padding-bottom: 180px;
}
.testimonial__card {
	margin-left: 60px;
	padding: 35px;
	box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
	border-radius: 29px;
}
.testimonial__wrapper {
	padding-bottom: 195px;
}
.action {
	padding-top: 95px;
	padding-bottom: 85px;
}
.corporation {
	padding-top: 5%;
}


.icon {
	display: inline-block;
	width: 30px;
	height: 30px;

}
.swiper-container {
    width: 1200px;
    height: 80px;
}

/* Стилизация svg */

.card__svg-container {
	width: 76px;
	height: 76px;
	border-radius: 100%;
}
.services1 {
	background-color: #717CFF;
}
.card__svg-container {
	position: relative;
}
.icon {
	position: absolute;
	margin: auto;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
}
.services2 {
	background-color: #FF5959;
}
.services3 {
	background-color: #70CE88;
}
.services4 {
	background-color: #5C96FF;
}
.services5 {
	background-color: #FA706C;
}
.footer__icon {
	fill: #fff;
}
.social__icon:hover {
	fill: #3C5B9A;
}
.date__icon {
	fill: #565656;
}

/* Слайдеры */

.swiper-container {
	padding-bottom: 80px;
	max-width: 100%;
}
.swiper-container_2 {
	position: relative;
	padding-bottom: 140px;
	margin-left: auto;
   margin-right: auto;
   position: relative;
   overflow-x: hidden;
   list-style: none;
   z-index: 1;
}
/* .swiper-pagination {
	bottom: 40px;
} */
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background-color: rgba(124, 124, 124, 0.318837);
	opacity: 1;
}



.swiper-pagination-bullet-active {
	width: 14px;
	height: 14px;
	background: #717CFF;
}

/* .featured__img {
	width: 100%;
} */