.services__wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 50px;
	.services__card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-basis: 29%;
		padding: 30px;
		box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
		border-radius: 15px;
		margin-bottom: 50px;
	}
	.services__icon {
		width: 76px;
		height: 76px;
		position: relative;
		border-radius: 38px;
	}
	.services__icon--1 {
		background-color: #717CFF;
	}
	.services__icon--2 {
		background-color: #FF5959;
	}
	.services__icon--3 {
		background-color: #70CE88;
	}
	.services__icon--4 {
		background-color: #5C96FF;
	}
	.services__icon--5 {
		background-color: #FA706C;
	}
}
.icon {
	display: flex;
	align-items: center;
	position: absolute;
	margin: auto;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
	fill: #37474F;
}
.services__title {
	font-size: 24px;
	margin-top: 30px;
}
.services__text {
	font-size: 16px;
	line-height: 28px;
	margin-top: 9px;
	margin-bottom: 25px;
}
	.learn-more__link {
		color: $violet_color;
		font-size: 17px;
	}
	.arrow {
		margin-left: 10px;
		vertical-align: middle;
	}

@media screen and (max-width: 960px) {
	.services__wrapper .services__card {
   	padding: 20px;
	}
	.services__wrapper .services__icon {
   	width: 70px;
   	height: 70px;
	}
	.services__title {
   	margin-top: 25px;
	}
	.services__text {
   	line-height: 25px;
	}
	.services__wrapper .services__card {
   	flex-basis: 31%;
		margin-bottom: 40px;
	}
	.services__title {
   	margin-top: 15px;
		font-size: 21px;
	}
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {
	.subtitle {
   	line-height: 30px;
   	margin-bottom: 70px;
	}
	.services__wrapper {
		flex-direction: column;
	}
		.services__card {
   		padding: 30px;
		}
		.services__wrapper .services__card {
   		padding: 30px;
		}
}
@media screen and (max-width: 320px) {
	.services__wrapper .services__icon {
   	width: 60px;
   	height: 60px;
	}
}