.countries {
	padding-bottom: 200px;
}
	.countries__card {
		max-width: 348px;
		margin-right: 30px;
	}
		.countries__img {
			margin-bottom: 27px;
		}
		.countries__title {
			font-size: 25px;
		}
		.countries__subtitle {
			font-size: 16px;
			line-height: 27px;
		}