.featured {
	position: relative;
}
.featured__title {
	font-size: 23px;
	letter-spacing: 2.1px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 55px;
	color: $grey_color;
}
.featured__slider {
	margin-top: 80px;
	align-items: center;
	padding-bottom: 100px;
	// position: relative;
}
.swiper-container {
   width: 100%;
   height: 100%;
}