.countries {
	padding-bottom: 125px;
}
	.countries__card {
		margin-bottom: 110px;
	}
		.countries__img {
			margin-bottom: 27px;
			width: 100%;
		}
		.countries__title {
			font-size: 25px;
		}
		.countries__subtitle {
			font-size: 16px;
			line-height: 27px;
		}

@media screen and (max-width: 1024px) {
	.countries {
   	padding-bottom: 80px;
	}
}