//переменные
$violet_color: #717CFF;
$grey_color: #373737;
$light_grey_color: #7D7D7D;
$title_fz: 37px;
$subtitle_fz: 22px;

@mixin flex-element {
	display: flex;
	justify-content: space-between;
}

* {
	font-family: 'Abel', sans-serif;
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: 400;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	color: $grey_color;
}

.bg-grey {
	background-color: #FAFAFA;
	width: 100%;
	padding: 0;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.block-title {
	text-align: center;
	margin-top: 100px;
}

.title {
	font-size: $title_fz;
	padding-top: 100px;
}
.subtitle {
	font-size: $subtitle_fz;
	line-height: 38px;
	margin-top: 25px;
	margin-bottom: 110px;
}
.block-title {
	max-width: 950px;
	margin: 0 auto;
}


@import "header";
@import "fonts";
@import "slider-university";
@import "services-block";
@import "news-block";
@import "event-block";
@import "slider-coutries";
@import "testimonials-slider"