//переменные
$violet_color: #717CFF;
$grey_color: #373737;
$light_grey_color: #7D7D7D;
$title_fz: 37px;
$subtitle_fz: 22px;

//стили меню и главного баннера
.header {
	@include flex-element;
	align-items: center;
	padding-top: 50px;
}
.menu__burger, .hamburger-menu {
	display: none;
}
.menu_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.header__button {
		width: 111px;
		height: 42px;
		border: $violet_color solid 2px;
		border-radius: 11px;
		padding: 9px 38px;
	}
	.menu_item {
		margin-left: 85px;
	}
		.menu_link {
			color: $grey_color;
		}
	}


.menu__item--underline {
	position: relative;
}
	.menu__item--underline:before {
		content: '';
		position: absolute;
		width: 0%;
		height: 3px;
		background-color: $violet_color;
		transition: 0.2s;
		bottom: -5px;
	}
	.menu__item--underline:hover::before {
		width: 90%;
}

.banner {
		overflow: hidden;
	}
	.banner__flex {
	display: flex;
	margin-top: 80px;
	position: relative;
	}
	.button {
		padding-left: 35px;
		background-color: $violet_color;
		border: none;
		border-radius: 11px;
		font-size: 22px;
		color: #fff;
		text-align: left;
	}
	.banner__button {
		width: 262px;
		height: 64px;
	}
	.button__arrow {
		margin-left: 50px;
		vertical-align: middle;
		fill: $grey_color;
	}

.banner {
	&__content {
		margin-top: 50px;
	}
	&__subtitle {
		width: 82%;
		margin-bottom: 20px;
		font-size: 22px;
		line-height: 38px;
		color: $light_grey_color;
		margin-top: 30px;
	}
	&__img--girl {
		vertical-align: bottom;
	}
	&__title {
		font-size: 56px;
	}
		&__violet {
			color: $violet_color;
		}
}
.social {
	margin-top: 90px;
	}
	.social__icon {
	fill: $grey_color;
	margin-left: 20px;
	}
		.social__icon:hover {
		fill: #3C5B9A;
}

.banner__oval {
	position: absolute;
	width: 1030px;
	height: 581px;
	left: 61%;
   top: 28%;
	background: linear-gradient(189.79deg, #8471FF 8.03%, #717CFF 53.55%);
	opacity: 0.7;
	border-radius: 50%;
	z-index: -1;
}

//адаптивная верстка меню и главного баннера

@media screen and (max-width: 1200px) {
	.container {
		max-width: 1000px;
	}
	.menu_list .menu_item {
   	margin-left: 72px;
	}
	.banner__img {
		vertical-align: bottom;
	}
	.social {
   	margin-top: 40px;
	}
}
@media screen and (max-width: 960px) {
	.container {
		max-width: 860px;
	}
	.menu_list .menu_item {
   	margin-left: 40px;
	}
	.banner__title {
   	font-size: 46px;
	}
	.banner__subtitle {
			width: 87%;
			font-size: 18px;
			line-height: 35px;
	}
	.banner__img--girl {
		width: 400px;
		height: auto;
	}
	.banner__flex {
   	margin-top: 50px;
	}
	.banner__button {
   	width: 240px;
   	height: 55px;
	}
	.social {
   	margin-top: 30px;
	}
	.social__icon--fb {
		margin-left: 0px;
	}
	.banner__subtitle {
   	margin-bottom: 15px;
   	margin-top: 20px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 700px;
	}
	.header {
   	padding-top: 15px;
	}

	.banner__flex {
   	margin-top: 0px;
	}
	.banner__subtitle {
   	width: 100%;
	}
		.banner__img--girl {
			display: block;
			width: 320px;
			margin-top: 84px;
		}
		.banner__oval {
			left: 45%;
		}
	.menu {
		display: none;
	}


	// стили для гамбургера
	.hamburger-menu, .menu__burger {
		display: block;
	}

	/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 90%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 2;
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 62%;
}


}

@media screen and (max-width: 425px) {
	.container {
		max-width: 370px;
	}
	#menu__toggle:checked ~ .menu__box {
  		visibility: visible;
  		left: 31%;
	}
	.banner__title {
   	width: 150%;
	}
	.banner__subtitle {
   	line-height: 26px;
		width: 114%;
	}
	.social {
   	margin-top: 20px;
	}
	.banner__img--girl {
   	width: 240px;
   	margin-top: 234px;
		margin-top: 198px;
	}
	.banner__oval {
   	left: 56%;
		width: 675px;
   	height: 443px;
	}
	.banner__button {
		width: 200px;
	}
		.button__arrow {
   		margin-left: 20px;
	}
}

@media screen and (max-width: 375px) {
	.container {
		max-width: 350px;
	}
	#menu__toggle:checked ~ .menu__box {
  		visibility: visible;
  		left: 23%;
	}
}

@media screen and (max-width: 320px) {
	.container {
		max-width: 280px;
	}
	#menu__toggle:checked ~ .menu__box {
  		visibility: visible;
  		left: 8%;
	}
	.banner__content {
   	margin-top: 25px;
	}
	.banner__img--girl {
   	margin-top: 180px;
	}
	.banner__title {
   	font-size: 38px;
	}
	.banner__subtitle {
   	font-size: 16px;
		width: 125%;
	}
	.banner__button {
		font-size: 16px;
   	width: 160px;
		height: 50px;
	}
	.button__arrow {
		vertical-align: middle;
		margin-left: 7px;
	}
	.banner__oval {
    left: 59%;
	}
}
