//переменные
$violet_color: #717CFF;
$grey_color: #373737;
$light_grey_color: #7D7D7D;
$title_fz: 37px;
$subtitle_fz: 22px;

$themeColor: #007aff !default;
$colors: (
  'white': #ffffff,
  'black': #000000,
) !default;