//переменные
$violet_color: #717CFF;
$grey_color: #373737;
$light_grey_color: #7D7D7D;
$title_fz: 37px;
$subtitle_fz: 22px;

//стили меню и главного баннера
.header {
	@include flex-element;
	align-items: center;
	padding-top: 50px;
}
.menu__burger {
	display: none;
}
.menu_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.header__button {
		width: 111px;
		height: 42px;
		border: $violet_color solid 2px;
		border-radius: 11px;
		padding: 9px 38px;
	}
	.menu_item {
		margin-left: 85px;
	}
		.menu_link {
			color: $grey_color;
		}
	}


.menu__item--underline {
	position: relative;
}
	.menu__item--underline:before {
		content: '';
		position: absolute;
		width: 0%;
		height: 3px;
		background-color: $violet_color;
		transition: 0.2s;
		bottom: -5px;
	}
	.menu__item--underline:hover::before {
		width: 90%;
}

.banner {
		overflow: hidden;
	}
	.banner__flex {
	display: flex;
	margin-top: 80px;
	position: relative;
	// height: 100vh  задать высоту блока 100%
	}
	.button {
		padding-left: 35px;
		background-color: $violet_color;
		border: none;
		border-radius: 11px;
		font-size: 22px;
		color: #fff;
		text-align: left;
	}
	.banner__button {
		width: 262px;
		height: 64px;
	}
	.button__arrow {
		margin-left: 50px;
		vertical-align: middle;
		fill: $grey_color;
	}

.banner {
	&__content {
		margin-top: 50px;
	}
	&__subtitle {
		width: 82%;
		margin-bottom: 20px;
		font-size: 22px;
		line-height: 38px;
		color: $light_grey_color;
		margin-top: 30px;
	}
	&__img--girl {
		vertical-align: bottom;
	}
	&__title {
		font-size: 56px;
	}
		&__violet {
			color: $violet_color;
		}
}
.social {
	margin-top: 90px;
	}
	.social__icon {
	fill: $grey_color;
	margin-left: 20px;
	}
		.social__icon:hover {
		fill: #3C5B9A;
}

.banner__oval {
	position: absolute;
	width: 1030px;
	height: 581px;
	left: 61%;
   top: 28%;
	background: linear-gradient(189.79deg, #8471FF 8.03%, #717CFF 53.55%);
	opacity: 0.7;
	border-radius: 50%;
	z-index: -1;
}

//адаптивная верстка меню и главного баннера

@media screen and (max-width: 1200px) {
	.container {
		max-width: 1000px;
	}
	.menu_list .menu_item {
   	margin-left: 72px;
	}
	.banner__img {
		vertical-align: bottom;
	}
	.social {
   	margin-top: 40px;
	}
}
@media screen and (max-width: 960px) {
	.container {
		max-width: 860px;
	}
	.menu_list .menu_item {
   	margin-left: 40px;
	}
	.banner__title {
   	font-size: 46px;
	}
	.banner__subtitle {
			width: 87%;
			font-size: 18px;
			line-height: 35px;
	}
	.banner__img--girl {
		width: 400px;
		height: auto;
	}
	.banner__flex {
   	margin-top: 50px;
	}
	.banner__button {
   	width: 240px;
   	height: 55px;
	}
	.social {
   	margin-top: 30px;
	}
	.social__icon--fb {
		margin-left: 0px;
	}
	.banner__subtitle {
   	margin-bottom: 15px;
   	margin-top: 20px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 700px;
	}
	.header {
   	padding-top: 15px;
	}

	.banner__flex {
   	margin-top: 0px;
	}
	.banner__subtitle {
   	width: 100%;
	}
		.banner__img--girl {
			display: block;
			width: 320px;
			margin-top: 84px;
		}
		.banner__oval {
			left: 45%;
		}
	.menu {
		display: none;
	}
}

@media screen and (max-width: 425px) {
	.container {
		max-width: 370px;
	}
	.banner__title {
   	width: 150%;
	}
	.banner__subtitle {
   	line-height: 26px;
		width: 114%;
	}
	.social {
   	margin-top: 20px;
	}
	.banner__img--girl {
   	width: 240px;
   	margin-top: 234px;
		margin-top: 198px;
	}
	.banner__oval {
   	left: 56%;
		width: 675px;
   	height: 443px;
	}
	.banner__button {
		width: 200px;
	}
		.button__arrow {
   		margin-left: 20px;
	}
}

@media screen and (max-width: 375px) {
	.container {
		max-width: 350px;
	}
}

@media screen and (max-width: 320px) {
	.container {
		max-width: 280px;
	}
	.banner__content {
   	margin-top: 25px;
	}
	.banner__img--girl {
   	margin-top: 180px;
	}
	.banner__title {
   	font-size: 38px;
	}
	.banner__subtitle {
   	font-size: 16px;
		width: 125%;
	}
	.banner__button {
		font-size: 16px;
   	width: 160px;
		height: 50px;
	}
	.button__arrow {
		vertical-align: middle;
		margin-left: 7px;
	}
	.banner__oval {
    left: 59%;
	}
}
